{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<main class="container">
    <div class ='navegacao'>
        <p>Navegação:</p>
        <a href='http://127.0.0.1:8000/'> PÁGINA PRINCIPAL </a>
    </div>

    <h1> TAGS </h1>
    <div class = tag-container>
        <ol class ='tag-list'>
        {% for tag in tags %}
            <li>
                <a class='tag-link' href='taglist/{{ tag.tag_str }}'> {{ tag.tag_str }} </a>  
            </li> 
        {% endfor %}
        </ol>
    </div>
</main>
<script type="text/javascript" src="{% static 'notes/script/getit.js' %}"></script>
{% endblock %}